# Ollama URL for the backend to connect
# The path '/ollama' will be redirected to the specified backend URL
OLLAMA_BASE_URL='https://api.musicheardworldwide.com/11434'

OPENAI_API_BASE_URL='https://api.deepseek.com/v1'
OPENAI_API_KEY='sk-7fd014d945684bf5b00c27c092d8866c'

# AUTOMATIC1111_BASE_URL="http://localhost:7860"

# DO NOT TRACK
SCARF_NO_ANALYTICS=true
DO_NOT_TRACK=true
ANONYMIZED_TELEMETRY=false
